/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main */

header{
    border-bottom: 2px solid black;
}

.div-ext{
   border: 2px solid black;
   width: 400px;
   min-height: 234px;
   margin: 10px auto;
}

h2{
    margin: 0;
}

p{
    margin: 0;
}

.div-in{
    padding: 20px;
}

h1{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    border-top: 2px solid black;
}

.p-footer{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}